.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.title {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(190, 11, 11, 0.9);
    color: #fff;
}
.title button {
    width: 10%;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    margin-right: 20px;
}
.subtitle {
    margin: 20px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

@media(max-width:620px){
    .tableAulas:nth-child(3){
        display: none;
    }
    .title {
        flex-direction: column;
    }
    .title button{
        width: 100%;
        margin-top: 30px;
        text-align: right;
        padding: 20px;
    }
}
