/* button - background-color: rgba(190, 11, 11, 0.9); */

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;

}
.table {
    width: 90%;
}
.titleTable {
    text-transform: uppercase;
    font-weight: 900;
    height: 50px;
    background-color: rgba(42, 49, 61, 1);
    color: aliceblue;
    text-align: center;
}
.linha td{
    height: 35px;
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, .1);
    text-align: center; 
}
.button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 2px;
    color: #fff;
    /* font-weight: 600; */
    border: 1px solid transparent;
    background-color: rgba(190, 11, 11, 0.9);
    border-radius: 6px;
    margin: 2px;
}
.button:nth-child(2){
    background-color: rgba(42, 49, 61, 1);
}
@media (max-width:620px) {
    .table {
        width: 100%;
        padding: 5px;
    }
}
    